{% extends "base.html" %}
{% from "macros.html" import add_navbar %}

{% block head %}

    <link href="../static/styles/signin.css" rel="stylesheet">

{% endblock %}

{% block header %}
    {{ add_navbar() }}
{% endblock %}

{% block main %}

    <div class="form-signin w-100 m-auto">
    <form action="" method="POST" class="col-auto d-flex flex-column">
    <h1>Choose mode</h1>
    <br>
    <select name="player" class="form-select">
        <option value="1" selected>PLAYER1</option>
        <option value="2">PLAYER2</option>
    </select>
<br>
        <label for="ai level" class="form-label">Choose the level of computer player</label>
        <input type="range" name="ai level" class="form-range" min="1" max="5" id="ai level">

      <button type="submit" name="play" value="human" class="btn btn-lg btn-secondary fw-bold border-white bg-white mx-md-4 my-md-4">Play with other player</button>
      <button type="submit" name="play" value="ai" class="btn btn-lg btn-secondary fw-bold border-white bg-white mx-md-4 my-md-4">Play with computer</button>

{% if resume %}
        <button type="submit" name="play" value="resume" class="btn btn-lg btn-secondary fw-bold border-white bg-white mx-md-4 my-md-4">Resume game</button>
{% endif %}
    </form>
    </div>
{% endblock %}